<!DOCTYPE HTML>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
    <title>Algorithms</title>
</head>
<header>
    <ul class="navbar">
        <li><a href="http://rydermcdowell.pythonanywhere.com/">Home</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw1">HW1</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw2">HW2</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw3">HW3</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw4">HW4</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw5">HW5</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/final_project">Final Project</a></li>
    </ul>
</header>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>