<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <title>Algorithms</title>
</head>
<header>
    <ul class="navbar">
        <li><a href="http://rydermcdowell.pythonanywhere.com/">Home</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw1">HW1</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw2">HW2</a></li>
        <li><a href="http://rydermcdowell.pythonanywhere.com/hw3">HW3</a></li>
    </ul>
</header>
<body>
    <h1>Welcome to Ryder's Algorithms Web Page</h1>
    {% block content %}
    {% endblock %}

</body>
</html>