{% extends "base.html" %}

{% block content %}

    <h1>Peg Solitaire Solver</h1>

    <form action="/hw4" method="POST">
        <h2>Input:</h2>

        <input type="checkbox" name="check0" class="row0" checked><br>
        <input type="checkbox" name="check1" class="row1" checked>
        <input type="checkbox" name="check2" checked><br>
        <input type="checkbox" name="check3" class="row2" checked>
        <input type="checkbox" name="check4" checked>
        <input type="checkbox" name="check5" checked><br>
        <input type="checkbox" name="check6" class="row3" checked>
        <input type="checkbox" name="check7" checked>
        <input type="checkbox" name="check8" checked>
        <input type="checkbox" name="check9" checked><br>
        <input type="checkbox" name="check10" class="row4" checked>
        <input type="checkbox" name="check11" checked>
        <input type="checkbox" name="check12" checked>
        <input type="checkbox" name="check13" checked>
        <input type="checkbox" name="check14" checked><br>

        <br>
        <input type="submit" name="button" value="Find Solution" id="findSolutionButton"/>
        <br><br>
        <br><br>
    </form>

    <div id="outputPath">
        <div id="pathText">
            <h2>Path:</h2>
            <form>
                {% autoescape false %}
                {{ path }}
                {% endautoescape %}
            </form>
            <br><br>
        </div>
    </div>
    <div id="outputMoves">
        <div id="movesText">
            <h2>Moves:</h2>
            <form>
                {% autoescape false %}
                {{ moves }}
                {% endautoescape %}
            </form>
            <br><br>
        </div>
    </div>


{% endblock %}